@model Poligon_test1.Models.CUSTOMERS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CUSTOMERS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CUSTOMER_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUSTOMER_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CITY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CITY)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CUSTOMER_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
